.app {
  height: 100vh;
}

.app > .sections {
  margin-top: 0px;
  width: 100%;
  height: 100vh;
  background-color: lightsalmon;
  position: relative;
  top: 70px;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.app > .sections > * {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

::-webkit-scrollbar {
  display: none;
}
